{% extends 'payments/base.html' %}

{% load static %}
{% block 'content' %}
<div class="d-flex align-items-center justify-content-center vh-100 bg-light">
    <div class="container text-center">
        <div class="card shadow p-4">
            <h1 class="card-title">{{ item.name }}</h1>
            <p class="card-text">{{ item.description }}</p>
            <p class="fs-4 fw-bold">{{ item.price }} {{ item.currency }}</p>
            <button id="buy-button" class="btn btn-success btn-lg">Купить</button>
        </div>
    </div>
</div>

{% endblock %}

{% block 'scripts' %}
<script type="text/javascript">
    var stripe = Stripe('{{ stripe_public_key }}');
    var redirect_url = '{% url "payments:buy" 0 %}'
    redirect_url = redirect_url.substring(0, redirect_url.length - 1)
</script>
<script src="{% static 'js/stripe_checkout.js' %}"></script>
{% endblock %}