{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <script src="https://js.stripe.com/v3/"></script>
    <link rel="icon" href="{% static 'img/favicon.png' %}">
</head>
<body>
    <h1>{{ item.name }}</h1>

    <p>{{ item.description }}</p>
    <p>{{ item.price }}</p>

    <button id="buy-button">Купить</button>
    <script type="text/javascript">
        var stripe = Stripe('{{ stripe_public_key }}');
        var redirect_url = '{% url "payments:buy" 0 %}'
        redirect_url = redirect_url.substring(0, redirect_url.length - 1)
    </script>
    <script src="{% static 'js/stripe_item_checkout.js' %}"></script>

</body>
</html>