{% extends 'payments/base.html' %}

{% load static %}
{% block 'content' %}
  <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h3 class="text-center">Товары в заказе</h3>
                <div class="list-group">
                    {% for item in items %}
                        <div class="list-group-item">
                            <h5>{{ item.name }}</h5>
                            <p>{{ item.description }}</p>
                            <p><strong>Цена:</strong> {{ item.price }} {{ item.currency }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-6">
                <h3 class="text-center">Налоги и скидка</h3>
                <div class="mb-3">
                    <h5>Налоги</h5>
                    <ul class="list-group">
                        {% for tax in taxes %}
                            <li class="list-group-item">
                                <strong>{{ tax.name }}</strong> - {{ tax.rate }}%
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="mb-3">
                    <h5>Скидка</h5>
                    <p><strong>Промокод:</strong> {{ discount.code }}</p>
                    <p><strong>Сумма:</strong> {{ discount.amount }} %</p>
                </div>
            </div>
        </div>


       <div class="row justify-content-center mt-4">
            <div class="col-md-6 text-center">
                <button id="buy-button" class="btn btn-success btn-lg">Оформить заказ</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block 'scripts' %}
    <script type="text/javascript">
        var stripe = Stripe('{{ stripe_public_key }}');
        var redirect_url = '{% url "payments:buy_order" 0 %}'
        redirect_url = redirect_url.substring(0, redirect_url.length - 1)
    </script>
    <script src="{% static 'js/stripe_checkout.js' %}"></script>
{% endblock %}